.App {
  text-align: center;
}

.h1-props{
  font-size: 25px;
}

.width-height-size{
  font-size: 35px;
  width: 63px;
  height: 30px;
}

.width-height{
  padding: .15em;
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.Button{
  transition-duration: 0.4s;
  background-color: #ffffff;
  border: 2px solid #008CBA;
  color: #008CBA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;;
  font-size: 20px;
}

.Button:hover{
  background-color: #008CBA;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;;
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar ul {
  height: 40px;
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: right;
  background-color: #131111;
}

#navbar ul li {
  display: inline-flex;
}

#navbar ul li a {
  transition-duration: 0.4s;
  height: 39px;
  text-decoration: none;
  padding: .2em 2em;
  color: #fff;
  background-color: #000;
}

#navbar ul li a:hover {
  height: 39px;
  color: #000;
  background-color: #fff;
}

.row {
  display: flex;
}

.column {
  float: left;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}
